body {

    background-color: rgb(205, 155, 252);
}

.conteudo{
    background-color: blueviolet;
    width: 100px;
    height: 100px;
    text-align: center;
    width: 200px;
    height: 200px;

}